# Target
CONFIG_IDF_TARGET="esp32s3"

# FreeRTOS
CONFIG_FREERTOS_HZ=1000

# Watchdog
CONFIG_ESP_TASK_WDT_EN=y
CONFIG_ESP_TASK_WDT_TIMEOUT_S=5

# Serial flasher
CONFIG_ESPTOOLPY_MONITOR_BAUD=115200

# PSRAM - DESHABILITADO (hardware actual sin PSRAM)
# CONFIG_ESP32S3_SPIRAM_SUPPORT is not set

# Heap
CONFIG_HEAP_POISONING_DISABLED=y
CONFIG_HEAP_TRACING_OFF=y

# Logging
CONFIG_LOG_DEFAULT_LEVEL_INFO=y
CONFIG_LOG_DEFAULT_LEVEL=3

# Optimización
CONFIG_COMPILER_OPTIMIZATION_PERF=y

# Security - NO eFuse
CONFIG_SECURE_BOOT=n
CONFIG_SECURE_BOOT_V2_ENABLED=n
CONFIG_SECURE_FLASH_ENC_ENABLED=n
CONFIG_EFUSE_CUSTOM_TABLE=n
