# General
SUPPORTED_PLATFORMS=platformio
BUILD_ID=layrz.hub.one12

# AWS
EXCHANGE_BUCKET=layrz-interfaces-exchange
CERTIFICATES_BUCKET=layrz-certificates-production
STORAGE_BUCKET=layrz-production
STORAGE_URL=https://cdn.layrz.com
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-west-2

# Layrz variables
LAYRZ_IDENTIFIER=456
LAYRZ_USERNAME=
LAYRZ_PASSWORD=
BOOT_APP0_LOCATION=

# PlatformIO variables

PLATFORMIO_ENVIRONMENTS=production_hub1,production_hub2
LAYRZ_IDENTIFIERS=456,588
LAYRZ_BUILD_IDS=layrz.hub.one12,layrz.hub.one2
